.doc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
   
    background-image: 
    radial-gradient(circle, rgba(132, 163, 220, 0.89) 0%, rgba(70, 110, 180, 0.89) 100%),
    url('./bgOverlay.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  background-color: white;
  padding: 1vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;


}
